@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@500;700&display=swap");

/* Color Variables */
:root {
  /* Primary */
  --desaturated-dark-cyan: hsl(180, 29%, 50%);
  /* Neutral */
  --light-gray-cyan-background: hsl(180, 52%, 96%);
  --light-gray-cyan-filter: hsl(180, 31%, 95%);
  --dark-gray-cyan: hsl(180, 8%, 52%);
  --very-dark-gray-cyan: hsl(180, 14%, 20%);
}

* {
  box-sizing: border-box;
  margin: 0;
}
html {
  font-size: 62.5%;
}

body {
  font-family: "League Spartan", sans-serif;
  font-size: clamp(1.6rem, 2vw, 1.8rem);
  letter-spacing: clamp(-0.123077px, 2vw, -0.138462px);
  background-color: var(--light-gray-cyan-background);
}
button {
  font-family: "League Spartan", sans-serif;
  font-size: clamp(1.6rem, 2vw, 1.8rem);
  letter-spacing: clamp(-0.123077px, 2vw, -0.138462px);
}
header {
  width: 100%;
  height: 15.6rem;
  background: url("../public/images/bg-header-mobile.svg") no-repeat
    var(--desaturated-dark-cyan) top;
  background-size: cover;
}
main {
  padding: 5.6rem 2.4rem;
  max-width: 115.8rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-inline: auto;
  position: relative;
}
h1 {
  font-size: clamp(1.5rem, 2vw, 2.2rem);
  font-weight: 700;
  color: var(--very-dark-gray-cyan);
}

.tag-filter {
  background-color: white;
  padding: 2rem;
  box-shadow: 0px 15px 20px -5px rgba(13, 113, 130, 0.15);
  border-radius: 0.5rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  position: relative;
  top: -9rem;
  z-index: 2;
  margin-inline: 2.4rem;
  margin-bottom: -4rem;
}
.tags-selected-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1.6rem;
}
.tag-selected {
  display: flex;
  min-height: 3.2rem;
  align-items: center;
  letter-spacing: -0.123077px;
  background-color: var(--light-gray-cyan-filter);
  border-radius: 0.4rem;
}
.tag-selected span {
  padding: 0.6rem 0.8rem;
  letter-spacing: -0.123077px;
  font-weight: 700;
  color: var(--desaturated-dark-cyan);
}
.btn-tag-clear {
  background-color: var(--desaturated-dark-cyan);
  border: none;
  height: 100%;
  width: 3.2rem;
  border-bottom-right-radius: 0.4rem;
  border-top-right-radius: 0.4rem;
  background-image: url("../public/images/icon-remove.svg");
  background-repeat: no-repeat;
  background-position: center;
}
.btn-tag-clear:hover {
  cursor: pointer;
  background-color: var(--very-dark-gray-cyan);
}
.btn-clear-all {
  background-color: transparent;
  border: none;
  height: 3.2rem;
  color: var(--dark-gray-cyan);
  font-weight: 700;
}
.btn-clear-all:hover {
  cursor: pointer;
  color: var(--desaturated-dark-cyan);
}
.job-post {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  background-color: white;
  border-radius: 0.5rem;
  padding: 3rem 2rem 2rem 2rem;
  border: 5px white solid;
  box-shadow: 0px 15px 20px -5px rgba(13, 113, 130, 0.15);
  position: relative;
  margin-bottom: 4rem;
}
.featured-border {
  border-left-color: var(--desaturated-dark-cyan);
}
.job-logo {
  width: 4.8rem;
  height: 4.8rem;
  position: absolute;
  top: -3rem;
}
.job-post h1:hover {
  color: var(--desaturated-dark-cyan);
  cursor: pointer;
}
.job-info-section {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.job-header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 1.7rem;
}
h2 {
  font-size: clamp(1.3rem, 2vw, 1.8rem);
  color: var(--desaturated-dark-cyan);
  font-weight: 700;
  margin-right: 1.6rem;
}
.new,
.featured {
  font-size: 1.4rem;
  font-weight: 700;
  letter-spacing: -0.107692px;
  text-transform: uppercase;
  color: white;
  padding: 0.7rem 0.8rem 0.6rem 0.8rem;
  border-radius: 15px;
}
.new {
  background-color: var(--desaturated-dark-cyan);
}
.featured {
  background-color: var(--very-dark-gray-cyan);
}
.job-details {
  color: var(--dark-gray-cyan);
  letter-spacing: -0.123077px;
}
hr {
  color: var(--dark-gray-cyan);
}
.job-tags {
  display: flex;
  flex-wrap: wrap;
  gap: 1.6rem;
}
.tag {
  color: var(--desaturated-dark-cyan);
  background-color: var(--light-gray-cyan-filter);
  padding: 0.6rem 0.8rem;
  letter-spacing: -0.123077px;
  border-radius: 0.4rem;
  font-weight: 700;
}
.tag:hover {
  color: white;
  background-color: var(--desaturated-dark-cyan);
  cursor: pointer;
}
@media (min-width: 1158px) {
  header {
    background: url("../public/images/bg-header-desktop.svg") no-repeat
      var(--desaturated-dark-cyan) top;
    background-size: cover;
    max-width: 144rem;
    margin-inline: auto;
  }
  main {
    padding: 7.6rem 2.4rem;
  }
  .tag-filter {
    padding-inline: 4rem;
    top: -11rem;
    margin-bottom: -7rem;
  }
  .job-post {
    flex-direction: row;
    align-items: center;
    gap: 3rem;
    padding: 3rem;
    margin-bottom: 2.4rem;
  }
  .job-logo {
    width: 8.8rem;
    height: 8.8rem;
    position: static;
  }
  .job-tags {
    margin-left: auto;
  }
}
